.wrapper {
    display: inline-block;
}

.btn-wide15b {
    width: 343px;
    padding: 10px 32px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;

    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
  
    letter-spacing: -0.24px;
  
}
.btn-red {
    background-color: red;
    color: white;
}