
.wrapper {
    display: inline-block;
}


.TopNews-Container {
    max-width: 172px;
    max-height: 250px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 138px 13px 54px 13px;
    row-gap: 8px;
}

.TopNews-Thumbnail {
    overflow: hidden;
    object-fit: cover;
}

.TopNews-Title {
    display: inline-block;
    font-size: 13px;
    font-weight: bold ;
    width:100%;
    /* white-space: nowrap; */
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.TopNews-Desc {
    font-size: 11px;
}


.bg-red {
    background-color: red;
}

.bg-blue {
    background-color:  blue;
}

.bg-yellow {
    background-color: yellow;
}