body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'DM Sans', sans-serif;;
}


.h1-la {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.41px;
}

h1 {
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.41px;
}

.h2-b {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height, or 121% */
  
  letter-spacing: 0.337647px;
}

h2 {
  /* Headline 2 / Regular */
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  /* or 129% */
}

.h3-b {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height, or 127% */

  letter-spacing: 0.35px;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height, or 127% */

  letter-spacing: 0.35px;
}

.body20-b {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 125% */

  letter-spacing: 0.38px;
}

.body20 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 125% */

  letter-spacing: 0.38px;
}

.body17-m {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height, or 129% */

  letter-spacing: -0.41px;
}

.body17 {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height, or 129% */

  letter-spacing: -0.41px;
}

.body15-m {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */

  letter-spacing: -0.24px;
}

.body15 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */

  letter-spacing: -0.24px;
}

.caption13-m {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */

  letter-spacing: -0.08px;
}

.caption13 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */

  letter-spacing: -0.08px;
}

.caption11-b {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height, or 118% */

  letter-spacing: 0.07px;
}

.caption11 {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height, or 118% */

  letter-spacing: 0.07px;
}

.tag15 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */

  letter-spacing: -0.24px;
  text-transform: uppercase;
}

.tag13 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */

  letter-spacing: -0.08px;
  text-transform: uppercase;
}

.tag11 {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height, or 118% */

  letter-spacing: 0.07px;
  text-transform: uppercase;
}

